*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    position: relative;
}
.heading{
    margin-left: 150px;
    margin-bottom: 10px;
}
#name{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;    
}
.fname{
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 4px;
}
#email{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#phone{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#address{
    margin-left: 81px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.code{
    margin-left: 80px;
    border-radius: 4px;
    margin-top: 10px;

}
#course{
    margin-left: 90px;
    border-radius: 4px;
    margin-top: 20px;
}
.gender{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#country{
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 4px;
}
#town{
    margin-left: 105px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#district{
     margin-left: 82px;
     border-radius: 4px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.form{
    margin-left: 250px;
    margin-bottom: 20px;
}
.married{
    margin-left: 90px;
    margin-top: 15px;
}
.img{
    position:absolute; 
    margin-left: 100px;
    width: 500px;
    top: 10px;
    animation: image 2s infinite;
}
@keyframes image{
    100%{
        transform: rotateY(360deg);
    }
}
.but{
    margin-left: 200px;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    letter-spacing: 5px;   
}
.but:hover{
    background-color: rgb(0, 132, 255);
    color:blueviolet;
}
#number{
    margin-left: 69px;
    border-radius: 4px;
    margin-top: 20px;

}
#num{
    margin-left: 69px;
    border-radius: 4px;
    margin-top: 20px;


}
